[Unit]
Description="Android device auto mount/unmount service"

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/adam/archon/hal/bin/android_mount mount %I
ExecStop=/home/adam/archon/hal/bin/android_mount unmount %I
