# NOTE: Systemd does not allow using symlinks as service files, hence
#       this file was copied from ~/archon/hal/dotfiles/.config/systemd/user
#       instead of treating it as a regular archon dotfile.
#       If modifying this file, it is necessary to edit original archon file,
#       or archon repo will not detect the changes
[Unit]
Description=Actkbd: Daemon for X-independent shortcuts

[Service]
Type=forking
ExecStart=/usr/bin/actkbd -c /home/adam/.config/actkbd.conf -d /dev/input/event2 -D -p /tmp/actkbd.service.pid
PIDFile=/tmp/actkbd.service.pid

[Install]
WantedBy=default.target
